{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="text-center">
                <h2 class="">Shopping Bag</h2>
                <hr class="w-50 divider-style mb-1 ms-auto me-auto">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="d-block d-md-none">
                {% for item in bag_items %}
                    <div class="row text-center">
                        <div class="col-12 col-sm-6 mb-3">
                            <img class="img-fluid rounded" src="{{ item.product.image_front.url }}">
                        </div>
                        <div class="col-12 col-sm-6 content-text my-auto">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0"><strong>Size:
                                </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 content-text">
                            <p class="my-0">€{{ item.product.price }}</p>
                        </div>
                        <div class="col-12 col-sm-6 px-5 mt-2">
                            <form class="form update-form" method="POST" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm button-style"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm button-style"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        {% if item.product.has_sizes %}
                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                            <a class="btn btn-sm update-link button-secondary-style mt-3 float-start"><small>Update</small></a>
                            <a class="btn btn-sm remove-item button-secondary-style float-end mt-3" id="remove_{{ item.item_id }}"
                                data-size="{{ item.size }}"><small>Remove</small></a>
                        </div>
                    </div>
                    <hr class="my-4">
                {% endfor %}
                <div class="row text-end">
                    <div class="col">
                        <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                    </div>
                </div>
                <div class="row text-end mt-3 mb-3">
                    <div class="col-12">
                        <a href="{% url 'products' %}" class="btn button-secondary-style">
                            <span>
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="">Keep Shopping</span>
                        </a>
                        <a href="" class="btn button-style">
                            <span class="">Secure Checkout</span>
                            <span>
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="table-responsive d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image_front.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0"><strong>Size:
                                </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}
                            </p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm button-style"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm button-style"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        {% if item.product.has_sizes %}
                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                            <a class="btn btn-sm update-link button-secondary-style mt-3"><small>Update</small></a>
                            <a class="btn btn-sm remove-item button-secondary-style float-end mt-3" id="remove_{{ item.item_id }}"
                                data-size="{{ item.size }}"><small>Remove</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.product.price }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-end">
                            <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end">
                            <a href="{% url 'products' %}" class="btn button-secondary-style">
                                <span>
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="">Keep Shopping</span>
                            </a>
                            <a href="" class="btn button-style">
                                <span class="">Secure Checkout</span>
                                <span>
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="">Your bag is empty</p>
            <a href="{% url 'products' %}" class="btn button-style">
                <span>
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/bag/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}