{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid hero-image-container">
        <div class="row">
            <div class="col-md-6">
                <div class="jumbotron text-center">
                    <h2 class="pb-3">High Level Coaching</h2>
                    <h2 class="pb-3">Top Quality Results</h2>
                    <h3>
                        <a href="{% url 'products' %}" class="button-style btn btn-md py-3">
                            Visit Store
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}