{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col text-center">
                <h2 class="logo-font mb-2">Profile</h2>
                <hr class="divider-style w-50 ms-auto me-auto">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <p>Default Delivery Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn button-style mb-4 float-end">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-md-6">
                <p>Order History</p>
                {{ orders }}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}