{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="text-center">
                <h2 class="">Shopping Bag</h2>
                <hr class="w-50 divider-style mb-1 ms-auto me-auto">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted">Please fill out the form below to complete your order</p>
        </div>
    </div>
</div>
{% endblock %}