@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oxygen:wght@300&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Noto Serif', serif;
    color: #121212;

    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FCFCFC;
}

h1,
h2,
h3,
h4  {
    font-family: 'Oxygen', sans-serif;
}

/* -------------------NAVBAR--------------------- */
#topnav,
#bottom-nav,
.offcanvas {
    background-color: #F5F5F5;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #121212;
}

.navbar-light .navbar-nav .nav-link,
.nav-link {
    color: #121212;
}

.navbar-light .navbar-nav .nav-link:hover,
.nav-link:hover,
.input-group-text:hover {
    color: #F05454;
}

.nav-link:focus {
    color: #f05454;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #f05454;
}

.input-group-text {
    background-color: #F5F5F5;
    border: none;
}

.divider-style {
    border-top: 2px solid rgb(240, 84, 84);
}

/* -------------------FOOTER--------------------- */
footer {
    background-color: #F5F5F5;
    margin-top: auto;
}

.button-style {
    background-color: #F05454;
    color: #F5F5F5;
    text-shadow: none;
}

.button-style:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem #dd6c77;
}

.social-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #121212;
}

.social-link:hover {
    color: #F05454;
}

.general-icon {
    color: #121212;
}

@media screen and (max-width: 576px) {
    .footer-mobile-margin {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }   
}

/* -------------------HOMEPAGE--------------------- */

.hero-image-container {
    background: linear-gradient(#0000005c, #00000070), url("/media/hero-image.jpg") top center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 90vh;
}

.jumbotron {
    color: #F5F5F5;
    margin-top: 50%;
    border-radius: 6px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-shadow: 2px 2px #121212;
}

/* -------------------PRODUCTS--------------------- */
.card,
.card-footer {
    background-color: #FCFCFC;
}

.product-image  {
    height: 17rem;
    object-fit: cover;
}

.category-tags {
    text-decoration: none;
}

.border-info {
    border-color: #f5f5f5!important;
}

.span-redirect {
    color: #f05454;
}

.span-redirect:hover,
.sapn-redirect:focus {
    color: #ff0808;
}
/*-------------------W3 SCHOOLS- see README contributions section for more details---------------------*/
.product-image-container {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50%;
    opacity: 0;
    color: #121212;
    font-size: 1rem;
}

.product-image-container:hover .card-img-top {
    opacity: 0.3;
}

.product-image-container:hover .overlay {
    opacity: 1;
    color: #121212;
    font-size: 1rem;
}

/*-------------------W3 SCHOOLS- contribution end ---------------------*/

/* -------------------PRODUCT DETAILS--------------------- */
.button-secondary-style {
    background-color: #f5f5f5;
    color: #121212;
    text-shadow: none;
}

.button-secondary-style:hover {
    background-color: #f1f1f1;
    color: #121212;
    text-shadow: none;
}

.button-secondary-style:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem #f1f1f1;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* -------------------TOASTS--------------------- */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}