<div class="toast toast-success custom-toast rounded-0 border-top-0 me-2">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close">
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="">        
            </div>
            {% if total %}
                <p class="">
                    You have ({{ product_count }}) items in your basket. Your total is €{{ total|floatformat:2 }}.
                </p>
                <div class="col text-end">
                    <a href="{% url 'view_bag' %}" class="btn button-style">
                        <span><i class="fas fa-shopping-basket"></i> Basket</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>